<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_it"
        android:label="InTime"
        android:supportsRtl="true"
        android:theme="@style/Theme.Student_Calendar"
        tools:targetApi="31">
        <activity
            android:name=".UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CompleteDetails"
            android:exported="false" />
        <activity
            android:name=".Completed"
            android:exported="false" />
        <activity
            android:name=".PDFViewerActivity"
            android:exported="false" />
        <activity
            android:name=".NoteDetails"
            android:exported="false" />
        <activity
            android:name=".DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".MyAccount"
            android:exported="false" />
        <activity
            android:name=".AddedNotes"
            android:exported="false" />
        <activity
            android:name=".CompletedAdapter"
            android:exported="false" />
        <activity
            android:name=".AddedTask"
            android:exported="false" />
        <activity
            android:name=".Status"
            android:exported="false" />
        <activity
            android:name=".Notes"
            android:exported="false" />
        <activity
            android:name=".AddActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"></activity>
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />

        <receiver
            android:name=".AlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>